---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Aboutme from '../components/Aboutme.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<main>
		<Hero />
		<Experience />
		<Projects />
		<Aboutme />
		<Contact />
		<Footer />
	</main>
</Layout>